<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="rosbag_in" default="data.bag"/>
  <arg name="rosbag_out" default="radvio"/>

  <arg name="image_skip_factor" default="0"/>
  <arg name="camera_topic" default="/cam0/image_raw"/>
  <arg name="radar_topic" default="/radar/cloud"/>

  <node pkg="radvio" type="radvio_rosbag_loader" name="radvio" output="screen" clear_params="true">
    <param name="filter_config" value="$(find radvio)/cfg/radvio.info"/>
    <param name="camera0_config" value="$(find radvio)/cfg/cam0.yaml"/>
    <param name="camera0_mask" value="$(find radvio)/cfg/cam0_mask.png"/>

    <param name="rosbag_filename" value="$(arg rosbag_in)"/>
    <param name="filename_out" value="$(arg rosbag_out)"/>
    <param name="record_odometry" value="true"/>
    <param name="record_extrinsics" value="true"/>
    <param name="record_imu_bias" value="true"/>
    <param name="record_targets_filtered" value="true"/>
    <param name="record_targets_inlier" value="true"/>

    <param name="image_skip_factor" value="$(arg image_skip_factor)"/>

    <param name="imu_topic_name" value="/vectornav_driver_node/imu/data"/>
    <param name="cam0_topic_name" value="$(arg camera_topic)"/>
    <param name="radar_topic_name" value="$(arg radar_topic)"/>
  </node>
</launch>