<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <node pkg="image_transport" type="republish" name="image_republish" output="screen" args="compressed">
    <remap from="in" to="/cam0/cam0"/>
    <remap from="out" to="/cam0/image_raw"/>
  </node>

  <node pkg="radvio" type="radvio_node" name="radvio" output="screen" clear_params="true">
    <param name="filter_config" value="$(find radvio)/cfg/radvio.info"/>
    <param name="camera0_config" value="$(find radvio)/cfg/radvio_cam.yaml"/>
    <param name="camera0_mask" value="$(find radvio)/cfg/radvio_cam_mask.png"/>

    <param name="image_skip_factor" value="0"/>

    <remap from="imu0" to="/imu_apps"/>
    <remap from="cam0/image_raw" to="/tracking"/>
    <remap from="radar" to="/radar/cloud"/>
    <remap from="baro" to="/mavros/imu/static_pressure"/>
  </node>
</launch>