<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- <node pkg="image_transport" type="republish" name="image_republish" output="screen" args="compressed">
    <remap from="in" to="/cam0/cam0"/>
    <remap from="out" to="/cam0/image_raw"/>
  </node> -->

  <node pkg="radvio" type="radvio_node" name="radvio" output="screen" clear_params="true">
    <param name="filter_config" value="$(find radvio)/cfg/zadar/radvio.info"/>
    <param name="camera0_config" value="$(find radvio)/cfg/zadar/cam0.yaml"/>

    <param name="image_skip_factor" value="0"/>

    <remap from="imu0" to="/vectornav_driver_node/imu/data"/>
    <!-- <remap from="cam0/image_raw" to="/cam0/image_raw"/> -->
    <remap from="radar" to="/zadar/scan0"/>
  </node>
</launch>